[submodule "doc/trt_samples"]
	path = doc/trt_samples
	url = https://github.com/NVIDIA/trt-samples-for-hackathon-cn.git
[submodule "doc/kernel"]
	path = doc/kernel
	url = https://github.com/xlite-dev/LeetCUDA.git
[submodule "doc/cuda_code"]
	path = doc/cuda_code
	url = https://github.com/xgqdut2016/cuda_code
[submodule "doc/flash_attention"]
	path = doc/flash_attention
	url = https://github.com/Dao-AILab/flash-attention
[submodule "doc/LeetCUDA"]
	path = doc/LeetCUDA
	url = https://github.com/xlite-dev/LeetCUDA
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass
