cross-build/
build/
cross-install/
install/
log/

common/build
common/install
common/log

app/build
app/install
app/log

pylibs
cross-conanbuild/
conanbuild/
conan/
output
cross-output
output_stripped_debug
minidump_symbol_files
*.tar*
config/calibration

.idea/
py_hdmap.cpython-38-x86_64-linux-gnu.so
.vscode
__pycache__

repos.list
deps.list

**/cmake-build-debug/**
**/cmake-build-release/**
.cache/

backup
mos_idl_output_all
mach_package/
compile_commands.json
unit_test_reports

*.pb.h
*.pb.cc
*.txt.user*
test_logs